<div class="ui column stackable center page grid">
<form class="ui column form segment center" method="Post">
  <div class="field">
    <label>Please enter your name</label>
    <input type="text" name="playername" placeholder="Name...">
  </div>
  <button class="ui button massive" type="submit" name="Play">Play</button>
</form>
</div>
