<div class="ui raised very padded text container segment">
  <h2 class="ui header">Vingt et Un (v 1.0)</h2>
  <p>
    A basic game of Blackjack or Twenty One, written in Ruby and served up with a little help from Sinatra. Note that Aces are high in this game!
  </p>
  <h3 class="ui header">Purpose</h2>
  <p>
    This project began life as a pairing test I was practicing, the original development and commits of which can be found <a href="https://github.com/Teeohbee/pairing-tests/tree/master/21s">here</a>. After getting the basic game structure and methods in place, I wanted to extend the game to include a front-end and UI, so decided to extract the core game code into a new project and  focused on getting a full web app going here using Heroku.
  </p>
  <p>
    Eventually I'd like to extend the project to include multiplayer, as well as more sophisticated dealer behaviour and different blackjack variants.
  </p>
  <a href="https://travis-ci.org/Teeohbee/vingt-et-un">
    <img src="https://travis-ci.org/Teeohbee/vingt-et-un.svg?branch=master">
  </a>
  <a href="https://codeclimate.com/github/Teeohbee/vingt-et-un">
    <img src="https://codeclimate.com/github/Teeohbee/vingt-et-un/badges/gpa.svg" /></a>
  <a href="https://codeclimate.com/github/Teeohbee/vingt-et-un/coverage">
    <img src="https://codeclimate.com/github/Teeohbee/vingt-et-un/badges/coverage.svg" /></a>
  <div class="github-widget" data-repo="Teeohbee/vingt-et-un"></div>
</div>
