<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vingt et Un</title>
  <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
  <link rel="stylesheet" type="text/css" href="main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="semantic/semantic.js"></script>
  <script type="text/javascript" src="jquery.githubRepoWidget.min.js"></script>
</head>
<body>

  <div class="ui large red inverted menu">
    <a class="item active">
      Ving et Un
    </a>
    <div class="right menu">
      <% if @game %>
        <!-- <div class="item">Welcome <%= @game.player_one.name %></div> -->
        <a class="item" href="/new_game">
          <div class="ui button">Start a New Game</div>
        </a>
        <% else %>
        <a class="item" href="/gamesetup">
          <div class="ui button">New Game</div>
        </a>
      <% end %>
    </div>
  </div>

<%= yield %>

</body>
</html>
